* {
  margin: 0;
  padding: 0;
}

.img-banner {
  padding-top: 5px;
  width: 100%; 

}

.wrapper {
  color: blueviolet;
  padding-top: 10%;

  width: 25%;
  float: left; 
  
  font-size: 300%;
  transform: translateX(70%);
  line-height: 120%;
 /*  text-align: left; */
 
}

video {
  
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  transform: translateX(50%);
  /* transform: translateY(20%); */
  
}

.img-plague {
  float: right;
  padding-top: 5%;
  width: 30%; 
  transform: translateX(-50%);
 
}
